.list-reset.search__list {
  width: 559px;
  min-height: 477px;
  padding: 14px 18px;
  position: absolute;
  top: 58px;
  left: 97px;
  background-color: var(--secondary);
  border-radius: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  z-index: 2;
}

.search__list::-webkit-scrollbar {
  width: 0;
  display: none;
}

.search__list {
  align-items: center;
  justify-content: center;
}

.search-spinner {
  width: 100%;
  justify-content: center;
}

@media (max-width: 1439px) {
  .list-reset.search__list {
    width: 70%;
    left: 15%;
    top: 63px;
  }
}

@media (max-width: 1024px) {
  .list-reset.search__list {
    width: 70%;
    min-height: 378px;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 21px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .list-reset.search__list {
    width: 100%;
    left: 0;
  }
}
