.button {
  min-height: 56px;
  color: var(--primary);
  border: none;
  border-radius: 28px;
  justify-content: center;
  align-items: center;
}

.button[data-variant='primary'][data-subclass='dark'] {
  background-color: var(--secondary);
  color: var(--primary);
}

.button[data-variant='secondary'][data-subclass='dark'] {
  background-color: var(--black_disabled);
  color: var(--primary);
}

.button[data-variant='primary'][data-subclass='bright'] {
  background-color: var(--sky_blue);
  color: var(--primary);
}

.button[data-variant='secondary'][data-subclass='bright'] {
  background-color: var(--blue_dark);
  color: var(--disabled);
}

.button[data-width='medium'] {
  width: 171px;
  font-size: 19.3px;
}

.button[data-width='wide'] {
  width: 341px;
  letter-spacing: 1.3px;
}

.button:disabled {
  opacity: 0.5;
}

.button[data-variant='logIn'] {
  width: 60px;
  min-height: 32px;
  background: none;
  font-size: 24px;
}

.button[data-variant='logIn'][data-width='wide'] {
  width: 253px;
  letter-spacing: 0px;
}

.button[data-variant='logIn']:not([data-width]) {
  width: 69px;
}

.button.button--disabled {
  display: none;
}

.button.header-link--selected {
  position: relative;
}

.button.header-link--selected::after {
  content: '';
  position: absolute;
  left: 0;
  width: 101%;
  height: 1px;
  background: var(--pink);
  bottom: -10px;
}

.button__image {
  margin-right: 10px;
}
