.hero {
  margin-bottom: 39px;
}

.hero__info {
  width: 600px;
  padding-top: 74px;
  padding-right: 10px;
  margin-right: auto;
  flex-direction: column;
}

.hero__top-menu {
  margin-bottom: 18px;
  align-items: center;
}

.hero__date {
  margin-left: 20px;
}

.hero__data {
  color: var(--primary-opacity);
  font-size: 18px;
}

.hero__data:not(:last-child) {
  margin-right: 20px;
}

.hero__title {
  margin-bottom: 19px;
  color: var(--primary);
  font-size: 48px;
  line-height: 55.5px;
}

.hero__description {
  margin-bottom: 61px;
  font-size: 24px;
  color: var(--primary-opacity);
  line-height: 28.9px;
}

.hero__buttons-section > button:not(:last-child) {
  margin-right: 22px;
}

.hero__poster-img {
  max-width: 680px;
  height: 552px;
}

.hero__buttons-section {
  align-items: center;
}

.hero__poster-fallback {
  font-size: 30px;
  color: var(--error);
}

.hero__poster {
  align-items: center;
}

.hero-loader {
  min-height: 200px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1439px) {
  .hero__poster-img {
    height: 100%;
    max-width: 100%;
  }

  .hero__info {
    width: 100%;
    padding-top: 24px;
  }

  .hero__title {
    font-size: 30px;
  }

  .hero__description {
    font-size: 20px;
  }
}

@media (max-width: 1160px) {
  .hero__buttons-section {
    width: 90%;
    flex-wrap: wrap;
    gap: 15px;
  }

  .hero__buttons-section > button:not(:last-child) {
    margin-right: 0;
  }

  .hero__buttons-section > :first-child {
    flex-basis: 100%;
  }

  .hero__buttons-section > :nth-child(2) {
    flex: 2.4 1 0;
    min-width: 0;
  }
}

@media (max-width: 1024px) {
  .hero__description {
    margin-bottom: 30px;
  }

  .hero__poster-img {
    border-radius: 16px;
  }

  .hero__top-menu {
    margin-bottom: 14px;
  }

  .hero__title {
    margin-bottom: 11px;
  }

  .hero > .container {
    flex-direction: column-reverse;
  }

  .hero__buttons-section {
    width: 100%;
    flex-wrap: nowrap;
    gap: 15px;
  }

  .hero__buttons-section > button:not(:last-child) {
    margin-right: 0;
  }

  .hero__buttons-section > :first-child {
    flex-basis: auto;
  }

  .hero__buttons-section > :nth-child(2) {
    flex: 0 0 200px;
    min-width: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    margin-bottom: 59px;
  }

  .hero--filmPage {
    margin-bottom: 46px;
  }

  .hero__title {
    margin-bottom: 11px;
    font-size: 24px;
    line-height: 31px;
  }

  .hero__description {
    margin-bottom: 33px;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 600px) {
  .hero__buttons-section {
    width: 103%;
    flex-wrap: wrap;
    gap: 15px;
  }

  .hero__buttons-section > button:not(:last-child) {
    margin-right: 0;
  }

  .hero__buttons-section > :first-child {
    flex-basis: 100%;
  }

  .hero__buttons-section > :nth-child(2) {
    flex: 2.4 1 0;
    min-width: 0;
  }

  .hero__buttons-section > :nth-child(3),
  .hero__buttons-section > :nth-child(4) {
    flex: 1 1 0;
    min-width: 0;
  }

  .hero__buttons-section--filmPage {
    flex-wrap: nowrap;
  }

  .hero__buttons-section--filmPage > :first-child {
    flex-basis: 75%;
  }
}

@media (max-width: 375px) {
  .hero__poster-img {
    height: 234px;
  }

  .hero__poster-img--filmPage {
    height: 260px;
  }
}
