.genre__title {
  margin-bottom: 65px;
  color: var(--primary);
  font-size: 48px;
}

.genre {
  padding: 34px 0;
}

@media (max-width: 768px) {
  .genre {
    padding: 29px 0;
  }

  .genre__title {
    margin-bottom: 39px;
    font-size: 24px;
  }
}
