.topMovies {
  margin-bottom: 60px;
}

.topMovie__title {
  margin-bottom: 67px;
  font-size: 40px;
  color: var(--primary);
}

.form-error {
  justify-content: center;
  color: var(--error);
}

.home-loader {
  align-items: center;
  justify-content: center;
}

@media (max-width: 1439px) {
  .topMovie__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .topMovie__title {
    position: relative;
    font-size: 24px;
    left: 11px;
  }

  .topMovies > .container {
    width: 96%;
  }
}
