.movies-list {
  width: 98.5%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movies--default {
  width: 1300px;
  justify-content: center;
  flex-direction: column;
}

.movies-list__more {
  justify-content: center;
}

@media (max-width: 1439px) {
  .movies--default {
    width: 100%;
  }

  .movies--genres {
    width: 100%;
    margin-bottom: 40px;
  }

  .movies-list--genres {
    gap: 25px;
  }

  .list-reset.movies-list--default {
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 40px;
    padding: 13px 10px 10px 13px;
  }

  .movie-background {
    flex: 0 0 auto;
  }

  .movie-background:not(:nth-child(5n)) {
    margin-right: 0;
  }
}

@media (max-width: 1095px) {
  .movies-list--genres > .movie-background {
    width: 30%;
  }
}

@media (max-width: 666px) {
  .movies-list--genres > .movie-background {
    width: 45%;
  }
}

@media (max-width: 425px) {
  .movies-list--genres > .movie-background {
    width: 102%;
  }
}
