.search__item {
  width: 543px;
  min-height: 85px;
  margin-bottom: 7px;
  padding: 5px 0;
  align-items: center;
  cursor: pointer;
}

.search__poster {
  max-height: 52px;
  width: 39px;
}

.search__film-info {
  align-items: center;
}

.search__data {
  color: var(--primary-opacity);
  font-size: 14px;
}

.search__title {
  color: var(--primary);
  font-size: 18px;
  line-height: 29px;
}

.search__main-info {
  align-items: center;
  margin-bottom: 5px;
  gap: 17px;
}

.search__poster-block {
  margin-right: 15px;
}

@media (max-width: 1024px) {
  .search__item {
    min-width: 220px;
    min-height: 320px;
    height: 320px;
    flex-direction: column;
    margin-bottom: 0;
    padding: 0;
  }

  .search__item:not(:last-child) {
    margin-right: 10px;
  }

  .search__poster-block {
    margin-right: auto;
    margin-bottom: 12px;
  }

  .search__main-info {
    flex-wrap: wrap;
    gap: 15px;
  }

  .search__main-info > :last-child {
    flex-basis: 100%;
  }

  .search__poster {
    width: 158px;
    max-height: 206px;
  }

  .search__film-info {
    width: 95%;
    margin-right: auto;
  }
}
