.search__item {
  width: 543px;
  min-height: 85px;
  margin-bottom: 7px;
  padding: 5px 0;
  align-items: center;
  cursor: pointer;
}

.search__poster {
  max-height: 52px;
  width: 39px;
}

.search__film-info {
  align-items: center;
}

.search__date {
  margin-left: 15px;
}

.search__data {
  color: var(--primary-opacity);
  font-size: 14px;
}

.search__data:not(:last-child) {
  margin-right: 20px;
}

.search__title {
  color: var(--primary);
  font-size: 18px;
  line-height: 29px;
}

.search__main-info {
  align-items: center;
  margin-bottom: 5px;
}

.search__poster-block {
  margin-right: 15px;
}
