.header {
  padding: 25px 0;
  margin-bottom: 30px;
}

.header > .container {
  align-items: center;
  gap: 16px;
}

.header__logo-block {
  margin-right: 62px;
}

.header__nav {
  gap: 42px;
}

.header__middle {
  align-items: center;
  gap: 40px;
}

.header__search {
  flex: 0 0 240px;
}

.header__log {
  margin-left: auto;
}

.header__search {
  position: relative;
}

.header-link {
  position: relative;
  font-size: 24px;
  color: var(--primary);
}

.header-link--selected::after {
  content: '';
  position: absolute;
  left: 0;
  width: 101%;
  height: 1px;
  background: var(--pink);
  bottom: -10px;
}

.header__form {
  width: 655px;
  min-height: 48px;
  padding-left: 19px;
  padding-right: 23px;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 8px;
  cursor: pointer;
}

.header__input {
  color: var(--primary);
  font-size: 18px;
}

.header__input::placeholder {
  color: var(--disabled);
}

.header__search-image {
  margin-right: 10px;
}

@media (max-width: 1439px) {
  .header {
    margin-bottom: 0;
  }

  .header__logo-block {
    margin-right: auto;
  }

  .header__form {
    width: 100%;
    min-height: 56px;
  }

  .mobile-search-overlay {
    width: 100%;
    height: 115%;
    z-index: 999;
    justify-content: center;
    position: fixed;
    background-color: var(--modal-back);
    left: 0;
    top: 0;
  }

  .mobile-search {
    position: relative;
    width: 65%;
    top: 17px;
  }

  .header__input {
    margin-right: auto;
  }

  .header__nav--mobile {
    align-items: center;
    gap: 27px;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 21px 0;
    padding-bottom: 10px;
  }

  .topMovies {
    margin-bottom: 46px;
  }
}

@media (max-width: 500px) {
  .mobile-search {
    width: 90%;
  }

  .header__logo-block > .header-logo > svg {
    width: 80px;
    height: 18px;
  }
}
