.header {
  padding: 25px 0;
  margin-bottom: 30px;
}

.header > .container {
  align-items: center;
  gap: 16px;
}

.header__logo-block {
  margin-right: 62px;
}

.header__nav {
  gap: 42px;
}

.header__middle {
  align-items: center;
  gap: 40px;
}

.header__search {
  flex: 0 0 240px;
}

.header__log {
  margin-left: 79px;
}

.header__search {
  position: relative;
}
