.modal-logIn {
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
}

.button-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-wrapper {
  justify-content: center;
  margin-bottom: 41px;
}

.logo-wrapper > svg > path {
  fill: var(--black);
}

.input-wrapper-block {
  flex-direction: column;
}

.input-wrapper-block > .input-wrapper:first-child {
  margin-bottom: 12px;
}

.input-wrapper-block {
  margin-bottom: 24px;
}

.button-wrapper > *:first-child {
  margin-bottom: 26px;
}

.modal-logIn__regiter {
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
}
