.button-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-wrapper {
  justify-content: center;
  margin-bottom: 41px;
}

.logo-wrapper > svg > path {
  fill: var(--black);
}

.input-wrapper-block {
  flex-direction: column;
  margin-bottom: 24px;
}

.input-wrapper-block > .input-wrapper:first-child {
  margin-bottom: 12px;
}

.button-wrapper > *:first-child {
  margin-bottom: 26px;
}

.modal-logIn__regiter {
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
}

.input-wrapper-block > * {
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .logo-wrapper > svg {
    width: 132.13px;
    height: 29.5px;
  }

  .logo-wrapper {
    margin-bottom: 33px;
  }

  .input-wrapper-block {
    margin-bottom: 12px;
  }
}
