.genre__item:not(:nth-child(4n)) {
  margin-right: 40px;
}

.genre__background {
  margin-bottom: 64px;
  width: 290px;
  min-height: 304px;
  border: 1px solid var(--primary-dim);
  border-radius: 24px;
  background-color: var(--black);
}

.genre__content {
  position: relative;
  height: -webkit-fill-available;
  flex-direction: column;
  align-items: center;
}

.genre__item-poster {
  width: 100%;
  height: 219px;
  margin-bottom: 20px;
  border-radius: 0;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
}

.genre__item-title {
  font-size: 24px;
  text-align: center;
  color: var(--primary);
}

.genre__item {
  cursor: pointer;
}
