.account {
  padding: 35px 0;
}

.account__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 74px;
  color: var(--primary);
}

.account__buttons {
  display: flex;
  gap: 69px;
  margin-bottom: 29px;
}

.account__content {
  min-height: 400px;
}

.account__empty {
  text-align: center;
  padding: 60px 20px;
  color: var(--disabled);
  font-size: 18px;
}

.account__error {
  text-align: center;
  padding: 60px 20px;
  color: var(--error);
  font-size: 18px;
}

.account-button--selected {
  position: relative;
}

.account-button--selected::after {
  content: '';
  position: absolute;
  left: 0;
  width: 101%;
  height: 1px;
  background: var(--pink);
  bottom: -10px;
}

.account__settings {
  flex-direction: column;
  padding: 40px 0;
  text-align: center;
  color: var(--primary);
  font-size: 18px;
}

.account__list {
  flex-direction: column;
}

.account__item {
  align-items: center;
}

.account__item-user {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
  background: var(--primary-opacity);
  border-radius: 30px;
  font-size: 24px;
  font-weight: 700;
}

.account__item-info-block {
  flex-direction: column;
  align-items: start;
}

.account__item-info {
  margin-bottom: 10px;
}

.account__item:not(:last-child) {
  margin-bottom: 41px;
}

.account__item-name {
  font-size: 24px;
  color: var(--primary);
}

.list-reset.account__list {
  margin-bottom: 65px;
}
